<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Train System Deluxe</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/trains">Trains</a></li>
      <li class="active"><a href="/cities">Cities</a></li>
      <li><a href="/stops">Stops</a></li>
      <li><a href="/tickets">Purchase Tickets</a></li>
    </ul>
  </div>
</nav>
<div class="container">

<h2>List of All Cities</h2>
<% if @cities.any? %>
<ul>
  <% @cities.each do |city| %>
    <li><a href="/cities/<%= city.id %>"><%= city.name %></a>
    <%= city.station_name %>
    </li>
  <% end %>
</ul>
<% else %>
<p>There are currently no cities to display.</p>
<% end %>
<a href="/cities/new">Add a New City</a><br>
</div>