<h2>List of All Cities</h2>
<% if @cities.any? %>
<ul>
  <% @cities.each do |city| %>
    <li><%= city.name %>
    <a href="/cities/<%= city.id %>"><%= city.station_name %></a>
    </li>
  <% end %>
</ul>
<% else %>
<p>There are currently no cities to display.</p>
<% end %>
<a href="/cities/new">Add a New City</a><br>
<a href="/">Home</a>