<h1>Welcome to Train System Deluxe</h1>
<a class="btn" href="/trains">View All Trains</a><br>
<a class="btn" href="/cities">View All Stations</a><br>
<a class="btn" href="/stops">View All Stops</a><br>
