<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Train System Deluxe</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/trains">Trains</a></li>
      <li><a href="/cities">Cities</a></li>
      <li><a href="/stops">Stops</a></li>
      <li><a href="/tickets">Purchase Tickets</a></li>
    </ul>
  </div>
</nav>
<div class="container">
<h1>Welcome to Train System Deluxe</h1>
<a class="btn" href="/trains">View All Trains</a><br>
<a class="btn" href="/cities">View All Stations</a><br>
<a class="btn" href="/stops">View All Stops</a><br>
</div>