<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Train System Deluxe</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li class="active"><a href="/trains">Trains</a></li>
      <li><a href="/cities">Cities</a></li>
      <li><a href="/stops">Stops</a></li>
      <li><a href="/tickets">Purchase Tickets</a></li>
    </ul>
  </div>
</nav>
<div class="container">
<h1>Add a new train</h1>

<form action="/trains" method="post">
  <div class="form-group">
    <label for="train_name">Name</label>
    <input id="n" name="train_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
</div>