<h1>Add a new city</h1>

<form action="/cities" method="post">
  <div class="form-group">
    <label for="city_name">City Name</label>
    <input id="city_name" name="city_name" class="form-control" type="text">
    <label for="staion_name">Station Name</label>
    <input id="station_name" name="station_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>